#footer {
	background-color: #0d0d0d;
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
}

#footer-nav {
    margin-left: 5vw;
    display: flex;
}

.nav-entry {
    margin-right: 10vw;
    float: right;
}

.footer-info {
    color: #3d3d3d;
    font-style: italic;
}

.footer-info a{
    color: #3d3d3d;
}
