@font-face {
    font-family: 'FiraSans';
    src: url('./FiraSans-Regular.ttf');
}

html {
    background-color: black;
    font-family: 'FiraSans';
}

a {
    color:white;
    text-decoration: none;

}

a:hover {

    text-decoration:underline;
}

